<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>View data</title>
    <script type="text/javascript" src="main.min.js"></script>
    <link rel="stylesheet" href="styles/bulma.min.css" />
    <link rel="stylesheet" href="styles/bulma-tooltip.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/fontawesome.min.css" />
    <link rel="stylesheet" href="styles/solid.min.css" />
    <style>

      td {
        vertical-align: top;
      }

      .json-line {
        margin-bottom: 0;
      }

    </style>
  </head>

  <body class="has-navbar-fixed-bottom">
    <div id="app"></div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
